/* Version 2: Full Width and Typographic */

body {
    margin: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

h1 {
    font-family: tomarik-extrovert, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12vw;
    color: #B6F5FF;
    width: 70vw;
    line-height: 23vh;

    position: absolute;
    left: 2vw;
    top: -17vh;
}

h2 {
    font-family: p22-flw-midway-one, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    text-transform: lowercase;
    letter-spacing: 0.7vw;
    color: #B6F5FF;

    position: absolute;
    left: 3vw;
    bottom: .5vh;
}

p {
    font-family: p22-flw-midway-one, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    text-transform: lowercase;
    letter-spacing: .7vw;
    color: #B6F5FF;
}

#location {
    position: absolute;
    right: 3vw;
    bottom: .5vh;
}

#date {
    position: absolute;
    right: 3vw;
    top: .5vh;
}

#animals {
    display: none;
}

h1:hover {
    position: absolute;
    left: 3vw;
    top: -16vh;
}