body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    p {
        font-family: "area-normal", sans-serif;
    }
    h1 {
        font-family: "gridlite-pe-variable", sans-serif;
        font-size: 50px;
        text-align: center;
    }
    h2 {
        font-family: "punto", sans-serif;
        font-size: 60px;
    }

    pre {
        font-family: "area-normal", sans-serif;
    }
    
    a:link {
        text-decoration: none;
        font-weight: 800; 
        color: white;
    }
    a:visited {
        text-decoration: none;
        font-weight: 800;
        color: white;
    }
    a:hover {
        text-decoration: none;
        font-weight: 800;
        font-style: italic;
        color: white;
    }

    #title {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #second-voyage {
        font-style: italic;
    }
}

.day {
    height: 1400px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(89,89,89,1) 80%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    .night {
        position: absolute;
        bottom: -550px;
    }
}
